
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:ivory;
    color: black;
    font-family: Candara;
    text-align: center;
}

h1{
    color: #474747;
    display: block;
    font-size: 3em;
    padding: 0.625em 2.5em 0.938em 2.5em;  
    border-radius: 2em;
    font-weight: lighter;
    border-bottom: 1px solid #474747;
    padding-bottom: 1.5rem;
}  
h2{
    color: ivory;
    font-size: 2.5em;
    padding: 1em 0.2em;
    font-weight: lighter;
}  
h3{
    color:white;
    font-size: 2em;
} 
p{
    color: white;
    font-size: 1.5em;
    padding-top:1em;
}
label {
    text-transform: uppercase;
    padding-right: 2rem;
}

button {

    cursor: pointer;
    height: auto;
    width: auto;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    border: 0 none;
}

a {
    
    color: ivory;
}

/*Flexbox*/
.flexbox{
    width: 100%;
    display:flex;
    flex-direction: row;
    padding:2em;
    
}

.box{
    width:100%;
    background:#474747;
    border-radius: 2em;
    margin-top: 2%;
    margin-bottom: 2%;
    flex:1;
    color: ivory;
    
}

.box.links{
    background:#474747;
    margin-right: 2em;
    flex:1;
}

/*Navigations-Leiste*/
nav {
    position: sticky;
    top: 0%;
}
 
nav li {
    color: white;
    padding: 0.5em 0.5em 0.313em 0.313em;
    margin: 0.313em;
    border-radius: 0.625em;
    display: block;
    text-decoration: none;
    text-align: right;
    
}


nav li:hover{
Background-color:#474747;
transform: rotate(20deg)
}   

ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;  
}
ul.a li{
    float: right;
}

/* Login Bereich */

input[type=text], select, textarea, input[type=password] {
    background-color:white;
    width: 50%;
    padding: 0.375em;
    border: none;
    border-radius: 0.25em;
    box-sizing: border-box;
    margin-top: 0.25em;
    margin-bottom: 0.625em;
    resize: vertical;
    font-family: inherit;
    
  }

  
/* Main Bereich */

.spacePost {

    margin: 5px;
    padding: 5px;
    height: 5rem;
    font-size: 1rem;
}

#profile, #logout, #follow-btn, #main-btn {

    background-color: #EAE3D9;
    text-transform: uppercase;
}

#post {
    text-transform: uppercase;
}

#post-text {
    padding: 2rem;
    font-size: 1rem;
}

/* Follow Bereich */

.userDiv {
    margin: 5px;
    padding: 5px;
    height: 5rem;
}

.userDiv > li {
    text-decoration: none;
    list-style: none;
    font-size: 1.3rem;
}

#follower-bereich {

    margin-bottom: 5rem;
}

/* Profil Bereich */

#save-profile {
    
    width: 50%;
    margin-bottom: 20px;
    
}

.inputProfil {
    font-size: 1rem;
    padding: 0.5;
}

/* JavaScript */

.red-error{
    color: red;
}

.green-success{
    color: green;
}

/* Media Queries */
@media screen and (max-width: 600px) and (min-width: 100px) {
    .flexbox {   
      flex-direction: column;
      padding:0;
    }
    h1{
        font-size: 1.5rem;
        padding: 0;
        padding-bottom: 1rem;
    }
   
    h2 {
        font-size: 1.5rem;
    }

    .nav-btn {
        padding: 0;
        margin: 0;
    }

    label {
        font-size: .7rem;
    }

    input[type=text], input[type=password] {
        padding: 0;
    }

  }

  @media screen and (max-width: 768px) and (min-width: 600px) {
    
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.3em;
    }
    p{
        font-size: 0.8em;
    }

  }

  